# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# IDEs/editors
.vscode/
.idea/
*.swp
*.swo

# Logs and temporary files
*.log
*.tmp
*.DS_Store

# Environment variables
*.env

# Build artifacts
build/
dist/
*.egg-info/
